.sidebar {
  text-align: center;
  z-index: 100;
  height: 100vh;
  width: 220px;
  background-color: #ffffff;
  box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 50px;
  ul {
    &.sidebar-links {
      list-style: none;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 12px;

      li {
        &.link {
          width: 100%;
          height: 52px;
          display: flex;
          align-items: center;
          justify-content: center;

          > a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            position: relative;
            color: $grey;
            font-size: 13px;
            height: 42px;
            border-radius: 3px;
            font-weight: 500;
            padding: 0 10px;
            transition: all ease-out 0.2s;

            &:hover {
              color: $primary;
            }

            &.router-link-active {
              &.router-link-exact-active,
              &.router-link-partially-active {
                color: $primary;
                background: rgba($primary, 0.1);
              }
            }

            > svg {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
