// Breakpoints
$old-phone: 480px;
$phone: 768px;
$tablet: 992px;
$desktop: 1200px;
$lg-desktop: 1600px;

// Colors
$white: #ffffff;
$black: #111920;
$grey: #999;
$lightGrey: #cfcfcf;
$darkGrey: #4f5959;

$text: #273849;
$subtitle: #657788;
$background: #f7fafc;

$primary: #4fc08d;
$primaryHover: #4dee93;

// alerts
$success: #4fc08d;
$error: #e74c3c;
$warning: #e49b14;
$info: #3b61a7;
